{% extends "deletion/__layout.html" %}

{% block title %}Delete Customer{% endblock %}
{% block fieldname %}ID{% endblock %}
{% block recordtype %}customer{% endblock %}
{% block cancellink %}customers/{{ record_id }}{% endblock %}

{% block navigation %}
<li><a class="dropdown-item text-info" href="/customers">Customers</a></li>
<li><a class="dropdown-item" href="/products">Products</a></li>
<li><a class="dropdown-item" href="/customer-orders">Customer Orders</a></li>
<li><a class="dropdown-item" href="/company-orders">Company Orders</a></li>
{% endblock %}
