{% extends "deletion/__layout.html" %}

{% block title %}Delete Customer Order{% endblock %}
{% block fieldname %}ID{% endblock %}
{% block recordtype %}customer order{% endblock %}

{% block navigation %}
<li><a class="dropdown-item" href="/customers">Customers</a></li>
<li><a class="dropdown-item" href="/products">Products</a></li>
<li><a class="dropdown-item text-info" href="/customer-orders">Customer Orders</a></li>
<li><a class="dropdown-item" href="/company-orders">Company Orders</a></li>
{% endblock %}
