{% extends "deletion/__layout.html" %}

{% block title %}Delete Product{% endblock %}
{% block fieldname %}GTIN-14{% endblock %}
{% block recordtype %}product{% endblock %}
{% block cancellink %}products/{{ record_id }}{% endblock %}

{% block navigation %}
<li class="nav-item mx-2"><a class="nav-link" href="/customers">Customers</a></li>
<li class="nav-item active mx-2"><a class="nav-link" href="/products">Products</a></li>
<li class="nav-item mx-2"><a class="nav-link" href="/customer-orders">Customer Orders</a></li>
<li class="nav-item mx-2"><a class="nav-link" href="/company-orders">Company Orders</a></li>
{% endblock %}
