{% macro render_label_and_input(field, disabled_status=False) %}
<div class="form-group row">
  {{ field.label(class="col-sm-3 offset-md-1 offset-lg-2 col-form-label") }}
  <div class="col-sm-9 col-md-7 col-lg-5">
    {% if not disabled_status %}
      {{ field(**kwargs)|safe }}
    {% else %}
      {{ field(disabled="disabled", **kwargs)|safe }}
    {% endif %}
  </div>
</div>
{% if field.errors %}
  <ul>
    {% for error in field.errors %}
      <div class="alert alert-danger alert-dismissible fade show" role="alert">
        <button type="button" class="close" data-dismiss="alert">
          <span>&times;</span>
        </button>
        {{ error }}
      </div>
    {% endfor %}
  </ul>
{% endif %}
{% endmacro %}
