{% extends "layoutDataTables.html" %}
{% from "_macros.html" import render_label_and_filter_option, render_main_field, render_string_at_beg_end_options %}
{% from "_macrosCompanyOrderFilter.html" import company_order_data_filter with context %}
{% from "_macrosProductFilter.html" import product_data_filter with context %}

{% block title %}Company Orders{% endblock %}
{% block tablename %}Company Orders{% endblock %}
{% block pageurl %}/company-orders{% endblock %}

{% block navigation %}
<li><a class="dropdown-item" href="/customers">Customers</a></li>
<li><a class="dropdown-item" href="/products">Products</a></li>
<li><a class="dropdown-item" href="/customer-orders">Customer Orders</a></li>
<li><a class="dropdown-item text-info" disabled>Company Orders</a></li>
{% endblock %}

{% block filtering %}
{{ company_order_data_filter() }}
{{ product_data_filter() }}
{% endblock filtering %}

{% block tableheaders %}
<th>#</th>
<th>Product</th>
<th>Date/Time Ordered</th>
<th>Qty Bought</th>
<th>Total Paid</th>
<th>Delivery Date</th>
{% endblock %}

{% block tablebody %}
<td>{{ record[0] }}</td>
<td>{{ record[1] }}</td>
<td>{{ record[2] }}</td>
<td>{{ record[3] }}</td>
<td>{{ record[4] }}</td>
<td>{{ record[5] }}</td>
<td>
  <div class="dropdown">
    <button class="btn btn-secondary dropdown-toggle" data-toggle="dropdown">
      <i class="fa fa-ellipsis-v"></i>
    </button>
    <ul class="dropdown-menu shadow">
      <li><a class="dropdown-item" href="/company-orders/{{ record[0] }}">Details...</a></li>
      <li><a class="dropdown-item text-danger" href="/company-orders/{{ record[0] }}/delete">Delete</a></li>
    </ul>
  </div>
</td>
{% endblock %}

{% block datatablescript %}
$(document).ready(function() {
  $("#dataTable").DataTable({
    "columnDefs": [
      { "orderable": false, "targets": 6 }
    ]
  });
}, 5000);
{% endblock %}
