{% extends "layoutDataTables.html" %}

{% block title %}Company Orders{% endblock %}
{% block tablename %}Company Orders{% endblock %}

{% block navigation %}
<li><a class="dropdown-item" href="/customers">Customers</a></li>
<li><a class="dropdown-item" href="/products">Products</a></li>
<li><a class="dropdown-item" href="/customer-orders">Customer Orders</a></li>
<li><a class="dropdown-item text-info" disabled>Company Orders</a></li>
{% endblock %}

{% block filtering %}
Under Construction
{% endblock %}

{% block tableheaders %}
<th>#</th>
<th>Product</th>
<th>Date/Time Ordered</th>
<th>Qty Bought</th>
<th>Total Price Paid</th>
<th>Delivery Date</th>
<th></th>
{% endblock %}

{% block tablebody %}
<td>{{ record[0] }}</td>
<td>{{ record[2] }}</td>
<td>{{ record[1] }}</td>
<td>{{ record[3] }}</td>
<td>{{ record[4] }}</td>
<td>{{ record[5] }}</td>
<td>
  <div class="dropdown">
    <button class="btn btn-secondary dropdown-toggle" data-toggle="dropdown">
      <i class="fa fa-ellipsis-v"></i>
    </button>
    <ul class="dropdown-menu shadow">
      <li><a class="dropdown-item" href="/company-orders/{{ record[0] }}">Details...</a></li>
      <li><a class="dropdown-item text-danger" href="/company-orders/{{ record[0] }}/delete">Delete</a></li>
    </ul>
  </div>
</td>
{% endblock %}
