{% extends "layoutDataTables.html" %}
{% from "_macros.html" import render_label_and_filter_option, render_main_field, render_string_at_beg_end_options %}

{% block title %}Customer Orders{% endblock %}
{% block tablename %}Customer Orders{% endblock %}
{% block pageurl %}/customer-orders{% endblock %}

{% block navigation %}
<li><a class="dropdown-item" href="/customers">Customers</a></li>
<li><a class="dropdown-item" href="/products">Products</a></li>
<li><a class="dropdown-item text-info" disabled>Customer Orders</a></li>
<li><a class="dropdown-item" href="/company-orders">Company Orders</a></li>
{% endblock %}

{% block filtering %}
Under Construction
{% endblock filtering %}

{% block tableheaders %}
<th>#</th>
<th>Customer</th>
<th>Date/Time Ordered</th>
<th>Delivery Date</th>
<th>Delivery Location</th>
{% endblock %}

{% block tablebody %}
<td>{{ record[0] }}</td>
<td>{{ record[1] }}</td>
<td>{{ record[2] }}</td>
<td>{{ record[3] }}</td>
<td>{{ record[4] }}</td>
<td>
  <div class="dropdown">
    <button class="btn btn-secondary dropdown-toggle" data-toggle="dropdown">
      <i class="fa fa-ellipsis-v"></i>
    </button>
    <ul class="dropdown-menu shadow">
      <li><a class="dropdown-item" href="/customer-orders/{{ record[0] }}">Details...</a></li>
      <li><a class="dropdown-item text-danger" href="/customer-orders/{{ record[0] }}/delete">Delete</a></li>
    </ul>
  </div>
</td>
{% endblock %}

{% block datatablescript %}
$(document).ready(function() {
  $("#dataTable").DataTable({
    "columnDefs": [
      { "orderable": false, "targets": 5 }
    ]
  });
}, 5000);
{% endblock %}
