{% extends "layoutDataTables.html" %}

{% block title %}Customers{% endblock %}
{% block tablename %}Customers{% endblock %}
{% block pageurl %}/customers{% endblock %}

{% block navigation %}
<li><a class="dropdown-item text-info" disabled>Customers</a></li>
<li><a class="dropdown-item" href="/products">Products</a></li>
<li><a class="dropdown-item" href="/customer-orders">Customer Orders</a></li>
<li><a class="dropdown-item" href="/company-orders">Company Orders</a></li>
{% endblock %}

{% block filtering %}
<!-- First Name -->
<div class="shadow-sm p-2 m-2">
  {{ render_label_and_filter_option(form.first_name_selection) }}
  {{ render_main_field(form.first_name_string) }}
  {{ render_string_at_beg_end_options(form.first_name_at_beginning, form.first_name_at_end) }}
</div>

<!-- Last Name -->
<div class="shadow-sm p-2 m-2">
  {{ render_label_and_filter_option(form.last_name_selection) }}
  {{ render_main_field(form.last_name_string) }}
  {{ render_string_at_beg_end_options(form.last_name_at_beginning, form.last_name_at_end) }}
</div>

<!-- Email Address -->
<div class="shadow-sm p-2 m-2">
  {{ render_label_and_filter_option(form.email_address_selection) }}
  {{ render_main_field(form.email_address_string) }}
</div>

<!-- Phone -->
<div class="shadow-sm p-2 m-2">
  {{ render_label_and_filter_option(form.phone_selection) }}
  {{ render_main_field(form.phone_string) }}
</div>

<!-- Date Registered -->
<div class="shadow-sm p-2 m-2">
  {{ render_label_and_filter_option(form.date_registered_selection) }}
  {{ render_main_field(form.date_registered_lower_limit_string) }}
  {{ render_main_field(form.date_registered_upper_limit_string) }}
</div>

<!-- Location -->
<div class="shadow-sm p-2 m-2">
  {{ render_label_and_filter_option(form.location_selection) }}
  {{ render_main_field(form.location_place_no) }}
  {{ render_main_field(form.location_road_name) }}
  {{ render_main_field(form.location_city) }}
</div>
{% endblock filtering %}

{% block tableheaders %}
<th>#</th>
<th>First Name</th>
<th>Last Name</th>
<th>Email Address</th>
<th>Phone Number</th>
<th>Date Registered</th>
{% endblock %}

{% block tablebody %}
<td>{{ record[0] }}</td>
<td>{{ record[2] }}</td>
<td>{{ record[1] }}</td>
<td>{{ record[3] }}</td>
<td>{{ record[4] }}</td>
<td>{{ record[5] }}</td>
<td>
  <div class="dropdown">
    <button class="btn btn-secondary dropdown-toggle" data-toggle="dropdown">
      <i class="fa fa-ellipsis-v"></i>
    </button>
    <ul class="dropdown-menu shadow">
      <li><a class="dropdown-item" href="/customers/{{ record[0] }}">Details...</a></li>
      <li><a class="dropdown-item text-danger" href="/customers/{{ record[0] }}/delete">Delete</a></li>
    </ul>
  </div>
</td>
{% endblock %}

{% block datatablescript %}
$(document).ready(function() {
  $("#dataTable").DataTable({
    "columnDefs": [
      { "orderable": false, "targets": 6 }
    ]
  });
}, 5000);
{% endblock %}
