{% extends "layoutDataTables.html" %}
{% from "_macros.html" import render_label_and_filter_option, render_main_field, render_string_at_beg_end_options %}
{% from "_macrosCustomerFilter.html" import customer_data_filter with context %}
{% from "_macrosLocationFilter.html" import location_data_filter with context %}
{% from "_macrosCustomerOrderFilter.html" import customer_order_data_filter with context %}
{% from "_macrosProductFilter.html" import product_data_filter with context %}

{% block title %}Customers{% endblock %}
{% block tablename %}Customers{% endblock %}
{% block pageurl %}/customers{% endblock %}

{% block navigation %}
<li><a class="dropdown-item text-info" disabled>Customers</a></li>
<li><a class="dropdown-item" href="/products">Products</a></li>
<li><a class="dropdown-item" href="/customer-orders">Customer Orders</a></li>
<li><a class="dropdown-item" href="/company-orders">Company Orders</a></li>
{% endblock %}

{% block filtering %}
<h4>Filter by Customer</h4>
<div class="form-inline">
  {{ customer_data_filter() }}
  {{ location_data_filter() }}
</div>
<hr style="border-width: 3px">

<h4>Filter by Customer Order</h4>
<div class="form-inline">
  {{ customer_order_data_filter() }}
</div>
<hr style="border-width: 3px">

<h4>Filter by Product</h4>
<div class="form-inline">
  {{ product_data_filter() }}
</div>
<hr style="border-width: 3px">
{% endblock filtering %}

{% block tableheaders %}
<th>#</th>
<th>First Name</th>
<th>Last Name</th>
<th>Email Address</th>
<th>Phone Number</th>
<th>Date Registered</th>
{% endblock %}

{% block tablebody %}
<td>{{ record[0] }}</td>
<td>{{ record[2] }}</td>
<td>{{ record[1] }}</td>
<td>{{ record[3] }}</td>
<td>{{ record[4] }}</td>
<td>{{ record[5] }}</td>
<td>
  <div class="dropdown">
    <button class="btn btn-secondary dropdown-toggle" data-toggle="dropdown">
      <i class="fa fa-ellipsis-v"></i>
    </button>
    <ul class="dropdown-menu shadow">
      <li><a class="dropdown-item" href="/customers/{{ record[0] }}">Details...</a></li>
      <li><a class="dropdown-item text-danger" href="/customers/{{ record[0] }}/delete">Delete</a></li>
    </ul>
  </div>
</td>
{% endblock %}

{% block datatablescript %}
$(document).ready(function() {
  $("#dataTable").DataTable({
    "columnDefs": [
      { "orderable": false, "targets": 6 }
    ]
  });
}, 5000);
{% endblock %}
