{% extends "layoutDataTables.html" %}

{% block title %}Products{% endblock %}
{% block tablename %}Products{% endblock %}
{% block pageurl %}/products{% endblock %}

{% block navigation %}
<li><a class="dropdown-item" href="/customers">Customers</a></li>
<li><a class="dropdown-item text-info" disabled>Products</a></li>
<li><a class="dropdown-item" href="/customer-orders">Customer Orders</a></li>
<li><a class="dropdown-item" href="/company-orders">Company Orders</a></li>
{% endblock %}

{% block filtering %}
Under Construction
{% endblock filtering %}

{% block tableheaders %}
<th>GTIN-14</th>
<th>Name of Product</th>
<th>Description</th>
<th>Price</th>
<th>Qty in Stock</th>
{% endblock %}

{% block tablebody %}
<td>{{ record[0] }}</td>
<td>{{ record[1] }}</td>
<td>{{ record[2] }}</td>
<td>{{ record[3] }}</td>
<td>{{ record[4] }}</td>
<td>
  <div class="dropdown">
    <button class="btn btn-secondary dropdown-toggle" data-toggle="dropdown">
      <i class="fa fa-ellipsis-v"></i>
    </button>
    <ul class="dropdown-menu shadow">
      <li><a class="dropdown-item" href="/products/{{ record[0] }}">Details...</a></li>
      <li><a class="dropdown-item text-danger" href="/products/{{ record[0] }}/delete">Delete</a></li>
    </ul>
  </div>
</td>
{% endblock %}

{% block datatablescript %}
$(document).ready(function() {
  $("#dataTable").DataTable({
    "columnDefs": [
      { "orderable": false, "targets": 5 }
    ]
  });
}, 5000);
{% endblock %}
