{% extends "addition/__layout.html" %}
{% from "detailsView/_macros.html" import render_label_and_input, render_label_and_linked_input %}

{% block title %}Add New Company Order{% endblock %}
{% block recordtype %}Company Order{% endblock %}
{% block cancellink %}company-orders{% endblock %}

{% block importedstylesheets %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
{% endblock %}

{% block navigation %}
<li><a class="dropdown-item" href="/customers">Customers</a></li>
<li><a class="dropdown-item" href="/products">Products</a></li>
<li><a class="dropdown-item" href="/customer-orders">Customer Orders</a></li>
<li><a class="dropdown-item text-info" href="/company-orders">Company Orders</a></li>
{% endblock %}

{% block details %}
{{ render_label_and_input(form.company_order_product_gtin14_string) }}
{{ render_label_and_input(form.company_order_qty_bought_string) }}
{{ render_label_and_input(form.company_order_delivery_date_string) }}
{% endblock %}

{% block extralinks %}
<button class="btn btn-secondary mr-2" type="button" onclick="window.open('/products');">
  Products <i class="fa fa-external-link"></i>
</button>
{% endblock %}
