{% extends "addition/__layout.html" %}
{% from "detailsView/_macros.html" import render_label_and_input %}

{% block title %}Add New Customer Location{% endblock %}
{% block recordtype %}Customer Location{% endblock %}
{% block cancellink %}customers/{{ form.customer_id_string.data }}{% endblock %}

{% block navigation %}
<li><a class="dropdown-item text-info" href="/customers">Customers</a></li>
<li><a class="dropdown-item" href="/products">Products</a></li>
<li><a class="dropdown-item" href="/customer-orders">Customer Orders</a></li>
<li><a class="dropdown-item" href="/company-orders">Company Orders</a></li>
{% endblock %}

{% block details %}
{{ render_label_and_input(form.customer_id_string, disabled_status=True) }}
{{ render_label_and_input(form.place_no_string) }}
{{ render_label_and_input(form.road_name_string) }}
{{ render_label_and_input(form.city_name_string) }}
{% endblock %}
