{% extends "confirmation/__layout.html" %}
{% from "detailsView/_macros.html" import render_label_and_input %}

{% block orderaction %}decrease{% endblock %}

{% block importedstylesheets %}
<link rel="stylesheet" href="https://cdn.datatables.net/1.10.19/css/dataTables.bootstrap4.min.css">
{% endblock %}

{% block navigation %}
<li><a class="dropdown-item" href="/customers">Customers</a></li>
<li><a class="dropdown-item" href="/products">Products</a></li>
<li><a class="dropdown-item text-info" href="/customer-orders">Customer Orders</a></li>
<li><a class="dropdown-item" href="/company-orders">Company Orders</a></li>
{% endblock %}

{% block productcontents %}
<h4>Products Involved</h4>
<div class="table-responsive">
  <table id="dataTable" class="table table-striped table-sm">
    <thead>
      <tr>
        <th>Product GTIN-14</th>
        <th>Qty Ordered</th>
      </tr>
    </thead>
    <tbody>
      {% for record in customer_order_items %}
        <tr>
          <td><a href="/products/{{ record[1] }}" target="_blank">{{ record[1] }}</a></td>
          <td>{{ record[2] }}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}

{% block scripts %}
<script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.10.19/js/dataTables.bootstrap4.min.js"></script>
<script>
  $(document).ready(function() {
    $("#dataTable").DataTable();
  }, 5000);
</script>
{% endblock %}
