{% extends "dataTables/__layout.html" %}
{% from "dataTables/_macros.html" import render_label_and_filter_option, render_main_field, render_string_at_beg_end_options %}
{% from "dataTables/_macrosCompanyOrderFilter.html" import company_order_data_filter with context %}
{% from "dataTables/_macrosProductFilter.html" import product_data_filter with context %}

{% block title %}Company Orders{% endblock %}
{% block tablename %}Company Orders{% endblock %}

{% block navigation %}
<li><a class="dropdown-item" href="/customers">Customers</a></li>
<li><a class="dropdown-item" href="/products">Products</a></li>
<li><a class="dropdown-item" href="/customer-orders">Customer Orders</a></li>
<li><a class="dropdown-item text-info" disabled>Company Orders</a></li>
{% endblock %}

{% block filtering %}
<h4>Filter by Company Order</h4>
<div class="form-inline">
  {{ company_order_data_filter() }}
</div>
<hr style="border-width: 3px">

<h4>Find company orders that involve specific products</h4>
<div class="form-inline">
  {{ product_data_filter() }}
</div>
<hr style="border-width: 3px">
{% endblock filtering %}

{% block tableheaders %}
<th>#</th>
<th>Product</th>
<th>Date/Time Ordered</th>
<th>Qty Bought</th>
<th>Delivery Date</th>
{% endblock %}

{% block tablebody %}
<td>{{ record[0] }}</td>
<td><a href="/products/{{ record[1] }}" target="_blank">{{ record[1] }}</a></td>
<td>{{ record[2] }}</td>
<td>{{ record[3] }}</td>
<td>{{ record[4] }}</td>
{% endblock %}

{% block datatablescript %}
$(document).ready(function() {
  $("#dataTable").DataTable({
    "columnDefs": [
      { "orderable": false, "targets": 5 }
    ]
  });
}, 5000);
{% endblock %}
