{% extends "dataTables/__layout.html" %}
{% from "dataTables/_macros.html" import render_label_and_filter_option, render_main_field, render_string_at_beg_end_options %}
{% from "dataTables/_macrosProductFilter.html" import product_data_filter with context %}
{% from "dataTables/_macrosCustomerFilter.html" import customer_data_filter with context %}
{% from "dataTables/_macrosLocationFilter.html" import location_data_filter with context %}
{% from "dataTables/_macrosCustomerOrderFilter.html" import customer_order_data_filter with context %}
{% from "dataTables/_macrosCompanyOrderFilter.html" import company_order_data_filter with context %}

{% block title %}Products{% endblock %}
{% block tablename %}Products{% endblock %}

{% block navigation %}
<li><a class="dropdown-item" href="/customers">Customers</a></li>
<li><a class="dropdown-item text-info" disabled>Products</a></li>
<li><a class="dropdown-item" href="/customer-orders">Customer Orders</a></li>
<li><a class="dropdown-item" href="/company-orders">Company Orders</a></li>
{% endblock %}

{% block filtering %}
<h4>Filter by Product</h4>
<div class="form-inline">
  {{ product_data_filter() }}
</div>
<hr style="border-width: 3px">

<h4>Find products bought by specific customers</h4>
<div class="form-inline">
  {{ customer_data_filter() }}
  {{ location_data_filter() }}
</div>
<hr style="border-width: 3px">

<h4>Find products involved in specific customer orders</h4>
<div class="form-inline">
  {{ customer_order_data_filter() }}
</div>
<hr style="border-width: 3px">

<h4>Find products involved in specific company orders</h4>
<div class="form-inline">
  {{ company_order_data_filter() }}
</div>
<hr style="border-width: 3px">
{% endblock filtering %}

{% block tableheaders %}
<th>GTIN-14</th>
<th>Name of Product</th>
<th>Description</th>
<th>Qty in Stock</th>
{% endblock %}

{% block tablebody %}
<td>{{ record[0] }}</td>
<td>{{ record[1] }}</td>
<td>{{ record[2] }}</td>
<td>{{ record[3] }}</td>
{% endblock %}

{% block datatablescript %}
$(document).ready(function() {
  $("#dataTable").DataTable({
    "columnDefs": [
      { "orderable": false, "targets": 4 }
    ]
  });
}, 5000);
{% endblock %}
